<div class="row div-padding">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-config-heading">Configuration des notifications</h2>
            <div class="div-form-padding">
                <jhi-alert-error></jhi-alert-error>

                <h3>Jours Fériés</h3>
                <hr>

                <div class="form-group">
                    <mat-slide-toggle name="holidayEmailNotification" id="field_holidayEmailNotification" [(ngModel)]="activeHolidayNotif"
                                      formControlName="holidayEmailNotification">Email rappel jours fériés</mat-slide-toggle>
                </div>
                <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" name="holidayEmailSendDate" id="field_holidayEmailSendDate"
                               formControlName="holidayEmailSendDate" placeholder="Rappel avant combien de jours ?" [readonly]="!activeHolidayNotif">
                        <mat-error *ngIf="editForm.get('holidayEmailSendDate').invalid && (editForm.get('holidayEmailSendDate').dirty || editForm.get('holidayEmailSendDate').touched)">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                </div>
                <br>
                <h3>Equipe</h3>
                <hr>
                <div class="form-group">

                    <mat-slide-toggle name="welcomingEmailNotification" id="field_welcomingEmailNotification"
                                      formControlName="welcomingEmailNotification">Email de bienvenue</mat-slide-toggle>

                </div>
                <div class="form-group">


                    <mat-slide-toggle name="birthdayEmailNotification" id="field_birthdayEmailNotification"
                                      formControlName="birthdayEmailNotification">Email d'anniversaire</mat-slide-toggle>

                </div>
            </div>
            <div>
                <button mat-raised-button type="button" id="cancel-save"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button mat-raised-button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" >
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
