<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="config">
            <h2><span jhiTranslate="insightApp.config.detail.title">Config</span> {{config.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="insightApp.config.holidayEmailSendDate">Holiday Email Send Date</span></dt>
                <dd>
                    <span>{{config.holidayEmailSendDate}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.config.holidayEmailNotification">Holiday Email Notification</span></dt>
                <dd>
                    <span>{{config.holidayEmailNotification}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.config.welcomingEmailNotification">Welcoming Email Notification</span></dt>
                <dd>
                    <span>{{config.welcomingEmailNotification}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.config.birthdayEmailNotification">Birthday Email Notification</span></dt>
                <dd>
                    <span>{{config.birthdayEmailNotification}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/config', config.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
