<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-config-heading" jhiTranslate="insightApp.config.home.createOrEditLabel">Create or edit a Config</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.config.holidayEmailSendDate" for="field_holidayEmailSendDate">Holiday Email Send Date</label>
                    <input type="number" class="form-control" name="holidayEmailSendDate" id="field_holidayEmailSendDate"
                           formControlName="holidayEmailSendDate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.config.holidayEmailNotification" for="field_holidayEmailNotification">Holiday Email Notification</label>
                    <input type="checkbox" class="form-control" name="holidayEmailNotification" id="field_holidayEmailNotification"
                           formControlName="holidayEmailNotification"/>
                    <div *ngIf="editForm.get('holidayEmailNotification').invalid && (editForm.get('holidayEmailNotification').dirty || editForm.get('holidayEmailNotification').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('holidayEmailNotification').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.config.welcomingEmailNotification" for="field_welcomingEmailNotification">Welcoming Email Notification</label>
                    <input type="checkbox" class="form-control" name="welcomingEmailNotification" id="field_welcomingEmailNotification"
                           formControlName="welcomingEmailNotification"/>
                    <div *ngIf="editForm.get('welcomingEmailNotification').invalid && (editForm.get('welcomingEmailNotification').dirty || editForm.get('welcomingEmailNotification').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('welcomingEmailNotification').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.config.birthdayEmailNotification" for="field_birthdayEmailNotification">Birthday Email Notification</label>
                    <input type="checkbox" class="form-control" name="birthdayEmailNotification" id="field_birthdayEmailNotification"
                           formControlName="birthdayEmailNotification"/>
                    <div *ngIf="editForm.get('birthdayEmailNotification').invalid && (editForm.get('birthdayEmailNotification').dirty || editForm.get('birthdayEmailNotification').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('birthdayEmailNotification').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
