<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span jhiTranslate="insightApp.address.detail.title">Address</span> {{address.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="insightApp.address.line1">Line 1</span></dt>
                <dd>
                    <span>{{address.line1}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.address.line2">Line 2</span></dt>
                <dd>
                    <span>{{address.line2}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.address.city">City</span></dt>
                <dd>
                    <span>{{address.city}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.address.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{address.postalCode}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.address.country">Country</span></dt>
                <dd>
                    <span>{{address.country}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.address.ltd">Ltd</span></dt>
                <dd>
                    <span>{{address.ltd}}</span>
                </dd>
                <dt><span jhiTranslate="insightApp.address.lgt">Lgt</span></dt>
                <dd>
                    <span>{{address.lgt}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
