<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-contract-heading" jhiTranslate="insightApp.contract.home.createOrEditLabel">Create or edit a Contract</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.contract.type" for="field_type" [ngbTooltip]="'insightApp.contract.help.type' | translate">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="SIVP">{{'insightApp.ContractType.SIVP' | translate}}</option>
                        <option value="KARAMA">{{'insightApp.ContractType.KARAMA' | translate}}</option>
                        <option value="CDD">{{'insightApp.ContractType.CDD' | translate}}</option>
                        <option value="CDI">{{'insightApp.ContractType.CDI' | translate}}</option>
                        <option value="SUMMER_TRAINEESHIP">{{'insightApp.ContractType.SUMMER_TRAINEESHIP' | translate}}</option>
                        <option value="FINAL_YEAR_TRAINEESHIP">{{'insightApp.ContractType.FINAL_YEAR_TRAINEESHIP' | translate}}</option>
                        <option value="FREELANCER">{{'insightApp.ContractType.FREELANCER' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('type').invalid && (editForm.get('type').dirty || editForm.get('type').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.contract.startDate" for="field_startDate">Start Date</label>
                    <div class="d-flex">
                        <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" formControlName="startDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('startDate').invalid && (editForm.get('startDate').dirty || editForm.get('startDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startDate').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('startDate').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.contract.endDate" for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" formControlName="endDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.contract.employeeSignatureDate" for="field_employeeSignatureDate">Employee Signature Date</label>
                    <div class="d-flex">
                        <input id="field_employeeSignatureDate" type="datetime-local" class="form-control" name="employeeSignatureDate" formControlName="employeeSignatureDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.contract.directionSignatureDate" for="field_directionSignatureDate">Direction Signature Date</label>
                    <div class="d-flex">
                        <input id="field_directionSignatureDate" type="datetime-local" class="form-control" name="directionSignatureDate" formControlName="directionSignatureDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.contract.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.contract.dayOffNamber" for="field_dayOffNamber">Day Off Namber</label>
                    <input type="number" class="form-control" name="dayOffNamber" id="field_dayOffNamber"
                           formControlName="dayOffNamber"/>
                    <div *ngIf="editForm.get('dayOffNamber').invalid && (editForm.get('dayOffNamber').dirty || editForm.get('dayOffNamber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dayOffNamber').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dayOffNamber')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
