<form name="deleteForm" (ngSubmit)="confirmDelete(holiday.id)">
    <div class="modal-header">
        <h4 class="modal-title">Confirmation suppression {{holiday.name}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-holiday-heading">Voulez vous vraiment supprimer ce jour férié ?</p>
    </div>
    <div class="modal-footer">
        <button mat-raised-button type="button" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
        </button>
        <button mat-raised-button id="jhi-confirm-delete-holiday" type="submit" class="btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Supprimer</span>
        </button>
    </div>
</form>
