<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-organisation-heading" jhiTranslate="insightApp.organisation.home.createOrEditLabel">Create or edit a Organisation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.organisation.name" for="field_name" [ngbTooltip]="'insightApp.organisation.help.name' | translate">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.organisation.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.organisation.siteUrl" for="field_siteUrl">Site Url</label>
                    <input type="text" class="form-control" name="siteUrl" id="field_siteUrl"
                           formControlName="siteUrl"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.organisation.logoUrl" for="field_logoUrl">Logo Url</label>
                    <input type="text" class="form-control" name="logoUrl" id="field_logoUrl"
                           formControlName="logoUrl"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.organisation.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
