<div class="row div-padding">
    <div class="col-8">
        <div *ngIf="formation">
            <h2><span>Formation</span> {{formation.title}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details div-form-padding">
                <dt><span>Titre</span></dt>
                <dd>
                    <span>{{formation.title}}</span>
                </dd>
                <dt><span>Society</span></dt>
                <dd>
                    <span>{{formation.society}}</span>
                </dd>
                <dt><span>Profil concerné</span></dt>
                <dd>
                    <span>{{formation.concerned}}</span>
                </dd>
                <dt><span> Description</span></dt>
                <dd>
                    <span>{{formation.description}}</span>
                </dd>
            </dl>
            <button type="submit"
                    (click)="previousState()"
                    mat-raised-button>
                <mat-icon>backspace</mat-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/formations', formation.id, 'edit']"
                    mat-raised-button>
                <mat-icon>edit</mat-icon>
                Edit
            </button>
        </div>
    </div>
</div>
