<div class="header navbar">
    <div class="header-container">
        <ul class="nav-left">
            <li>
                <a class="side-nav-toggle" (click)="toggleSideNavCollapse()" href="javascript:void(0);">
                    <i class="ti-view-grid"></i>
                </a>
            </li>
        </ul>
        <ul class="nav-right">
            <li class="user-profile dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img class="profile-img img-fluid" src="../../../../content/images/user.jpg">
                    <div class="user-info">
                        <span class="name pdd-right-5">Nate Leong</span>
                        <i class="ti-angle-down font-size-10"></i>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="">
                            <i class="ti-settings pdd-right-10"></i>
                            <span>Setting</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="ti-user pdd-right-10"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="ti-email pdd-right-10"></i>
                            <span>Inbox</span>
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="">
                            <i class="ti-power-off pdd-right-10"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="notifications dropdown">
                <span class="counter" *ngIf="notifNbr > 0">{{notifNbr}}</span>
                <a  ngbDropdownToggle (click)="updateNotifView()" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="ti-bell"></i>
                </a>
                <ul class="dropdown-menu " ngbDropdownMenu>
                    <li class="notice-header">
                        <i class="ti-bell pdd-right-10"></i>
                        <span>Notifications</span>
                    </li>
                    <ul [perfectScrollbar] class="list-info overflow-y-auto relative scrollable">

                        <li *ngFor="let notif of notifications" [ngClass]="{'not-seen target': !notif.seen}">
                            <a href="">
                                <img *ngIf="notif.userName === 'system'" class="thumb-img" src="../../../../content/images/logo/system.png" alt="">
                                <img *ngIf="notif.userName != 'system'" class="thumb-img" [src]="notif.userPictureUrl" alt="">
                                <div class="info">
                                    <span class="title">
                                        <span *ngIf="notif.userName === 'system'" class="font-size-14 text-semibold">Apeiron Team</span>
                                        <span *ngIf="notif.userName != 'system'" class="font-size-14 text-semibold">{{notif.userName}}</span>
                                        <span class="text-gray">{{notif.text}}</span>
                                    </span>
                                    <span class="sub-title">{{notif.date | date:'medium'}}</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <li class="notice-footer">
                        <span>
                            <a href="" class="text-gray">Check all notifications <i class="ei-right-chevron pdd-left-5 font-size-10"></i></a>
                        </span>
                    </li>
                </ul>
            </li>
            <li>
                <a class="side-panel-toggle" href="javascript:void(0);" (click)="toggleSidePanelOpen()">
                    <i class="ti-align-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
