<div class="row div-padding">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-functional-role-heading">Ajouter / Modifier Rôle fonctionnels</h2>
            <div class="div-form-padding">
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group">

                    <mat-form-field class="example-full-width">
                        <input matInput name="name" id="field_name" formControlName="name" placeholder="Nom">
                        <mat-error
                            *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <textarea matInput name="description" id="field_description" formControlName="description"
                                  placeholder="Description"></textarea>
                        <mat-error
                            *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">

                    <mat-form-field class="example-full-width">
                        <input matInput type="number" name="maxHolidays" id="field_maxHolidays" formControlName="maxHolidays"
                               placeholder="Jours Congé">
                        <mat-error
                            *ngIf="editForm.get('maxHolidays').invalid && (editForm.get('maxHolidays').dirty || editForm.get('maxHolidays').touched)">
                            This field is required.
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="form-group">

                    <mat-form-field class="example-full-width">
                        <input matInput type="number" name="workingHours" id="field_workingHours" formControlName="workingHours"
                               placeholder="Heures de travail">
                        <mat-error
                            *ngIf="editForm.get('workingHours').invalid && (editForm.get('workingHours').dirty || editForm.get('workingHours').touched)">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-slide-toggle name="operations" id="field_operations" formControlName="operations">Opérations</mat-slide-toggle>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" mat-raised-button  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" mat-raised-button>
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
