<div class="row div-padding">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-email-template-heading">Configuration Email Template</h2>
            <div class="div-form-padding">
                <jhi-alert-error></jhi-alert-error>
                <h3>Jours Fériés Email Template</h3>
                <hr>
                <div class="form-group">
                    <mat-form-field class="example-full-text">
                        <textarea matInput name="holidayEmailTemplate" #holidayEmailTemplateField [(ngModel)]="holidayEmail"
                                  formControlName="holidayEmailTemplate" placeholder="Email Jour Férié"></textarea>
                        <mat-error *ngIf="editForm.get('holidayEmailTemplate').invalid && (editForm.get('holidayEmailTemplate').dirty || editForm.get('holidayEmailTemplate').touched)">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                    <p>Cliquez pour inserer une variable dynamque :</p>
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip (click)="insertVariable('name', holidayEmailTemplateField)">Nom</mat-chip>
                        <mat-chip (click)="insertVariable('description', holidayEmailTemplateField)">Description</mat-chip>
                        <mat-chip (click)="insertVariable('date', holidayEmailTemplateField)">Date</mat-chip>
                        <mat-chip (click)="insertVariable('duration', holidayEmailTemplateField)">Durée</mat-chip>
                        <mat-chip (click)="insertVariable('paid', holidayEmailTemplateField)">Payé</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div>
                <button type="button" mat-raised-button id="cancel-save"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" mat-raised-button id="save-entity" [disabled]="editForm.invalid || isSaving">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
