<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-degree-heading" jhiTranslate="insightApp.degree.home.createOrEditLabel">Create or edit a Degree</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.degree.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.degree.year" for="field_year">Year</label>
                    <input type="number" class="form-control" name="year" id="field_year"
                           formControlName="year"/>
                    <div *ngIf="editForm.get('year').invalid && (editForm.get('year').dirty || editForm.get('year').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('year').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('year')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.degree.duration" for="field_duration">Duration</label>
                    <input type="number" class="form-control" name="duration" id="field_duration"
                           formControlName="duration"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.degree.school" for="field_school">School</label>
                    <input type="text" class="form-control" name="school" id="field_school"
                           formControlName="school"/>
                    <div *ngIf="editForm.get('school').invalid && (editForm.get('school').dirty || editForm.get('school').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('school').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insightApp.degree.filePath" for="field_filePath">File Path</label>
                    <input type="text" class="form-control" name="filePath" id="field_filePath"
                           formControlName="filePath"/>
                    <div *ngIf="editForm.get('filePath').invalid && (editForm.get('filePath').dirty || editForm.get('filePath').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('filePath').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
