<div class="row div-padding">
    <div class="col-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-day-off-heading">Ajouter Demande de congé</h2>


            <div class="row div-form-padding">
                <jhi-alert-error></jhi-alert-error>

                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Collaborateur</mat-label>
                                    <mat-select name="employeId" id="field_employeId" formControlName="employeId"
                                                (selectionChange)="setUser()">
                                        <mat-option *ngFor="let user of users; let i = index"
                                                    [value]="user.login">{{user.firstName}}&nbsp;{{user.lastName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="editForm.get('employeId').invalid && (editForm.get('employeId').dirty || editForm.get('employeId').touched)">
                                        This field is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Motif" name="dayOffObject" id="field_dayOffObject"
                                      formControlName="dayOffObject"></textarea>
                                    <mat-error
                                        *ngIf="editForm.get('dayOffObject').invalid && (editForm.get('dayOffObject').dirty || editForm.get('dayOffObject').touched)">
                                        This field is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput [matDatepicker]="picker1" placeholder="Date de début"
                                           name="startDate" formControlName="startDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                    <mat-error
                                        *ngIf="editForm.get('startDate').invalid && (editForm.get('startDate').dirty || editForm.get('startDate').touched)">
                                        This field is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker]="picker2" placeholder="Date de fin" name="endDate"
                                       formControlName="endDate">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                                <mat-error
                                    *ngIf="editForm.get('endDate').invalid && (editForm.get('endDate').dirty || editForm.get('endDate').touched)">
                                    This field is required.
                                </mat-error>
                                <mat-error
                                    *ngIf="editForm.get('endDate').value - editForm.get('startDate').value > 0">
                                    The Duration format must be from .. to !
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <mat-radio-group aria-label="Statut" formControlName="status">
                                </mat-radio-group>
                                <label id="example-radio-group-label">Status</label>
                                <mat-radio-group
                                    aria-labelledby="example-radio-group-label"
                                    class="example-radio-group">
                                    <mat-radio-button class="example-radio-button" value="NEW">En attente
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" value="APPROVED">Approuvé
                                    </mat-radio-button>
                                    <mat-radio-button class="example-radio-button" value="DECLINED">Refusé
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-6">
                    <div class="card" *ngIf="userDayOffs">
                        <div class="pdd-horizon-20 pdd-vertical-5">
                            <div class="list-info" style="    margin-top: 20px;">
                                <img alt="" *ngIf="!userDayOffs.user.imageUrl" style="height: 40px;width: 40px;"
                                     class="thumb-img" src="../../../content/images/avatars/user-avatar.png">
                                <img alt="" *ngIf="userDayOffs.user.imageUrl" style="height: 40px;width: 40px;"
                                     class="thumb-img"
                                     [src]="userDayOffs.user.imageUrl">
                                <div class="info">
                            <span
                                class="title">{{userDayOffs.user.firstName}}&nbsp;{{userDayOffs.user.lastName}}</span>
                                    <span class="sub-title">{{userDayOffs.user.title}}</span>

                                </div>
                            </div>
                            <div>

                                <div class="mrg-top-30">
                                    <p class="mrg-btm-5">Congés annuel: <span
                                        class="text-dark text-semibold">7/10</span>
                                    </p>
                                    <div class="progress progress-info">
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>
                                </div>

                                <div class="mrg-top-30">
                                    <p class="mrg-btm-5">Congés maladie: <span
                                        class="text-dark text-semibold">7/10</span>
                                    </p>
                                    <div class="progress progress-info">
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    </div>
                                </div>

                                <div class=" mrg-top-30">
                                <span>Congés sans solde : <span
                                    class="text-warning text-semibold">{{userDayOffs.sicknessDayOffConsumed}}
                                    jours</span></span>
                                </div>

                            </div>
                            <div *ngIf="userDayOffs.dayOffs && userDayOffs.dayOffs.length > 0">
                                <div class="card-heading">
                                    <h5 class="card-title inline-block pdd-top-5">Dérniéres demandes de congés</h5>
                                    <p class="pull-right no-mrg">Total: <span
                                        class="badge badge-pill badge-secondary">{{userDayOffs.dayOffs.length}}</span>
                                    </p>
                                </div>
                                <table class="table table-lg table-hover">
                                    <tbody>
                                    <tr *ngFor="let dayOff of userDayOffs.dayOffs; let i = index">
                                        <td *ngIf="!(hidden && i < 3)" [@slideInOut]>
                                            <span class="title">Du {{dayOff.startDate | date:'dd/MM/yyyy'}}</span>
                                        </td>
                                        <td *ngIf="!(hidden && i < 3)" [@slideInOut]>
                                            <span class="sub-title">{{dayOff.days}} Jours</span>
                                        </td>
                                        <td *ngIf="!(hidden && i < 3)" [@slideInOut]>
                                            <div class="mrg-top-10">
                                                <span>{{dayOff.type}}</span>
                                            </div>
                                        </td>
                                        <td *ngIf="!(hidden && i < 3)" [@slideInOut]>

                                            <div *ngIf="dayOff.status == 'NEW'" class="relative mrg-top-10">
                                                <span class="status away"> </span>
                                                <span class="pdd-left-20">En attente</span>
                                            </div>
                                            <div *ngIf="dayOff.status == 'APPROVED'" class="relative mrg-top-10">
                                                <span class="status online"> </span>
                                                <span class="pdd-left-20">Approuvé</span>
                                            </div>
                                            <div *ngIf="dayOff.status == 'DECLINED'" class="relative mrg-top-10">
                                                <span class="status no-disturb"> </span>
                                                <span class="pdd-left-20">Refusé</span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <a style="width: 100%" *ngIf="userDayOffs.dayOffs && userDayOffs.dayOffs.length > 3"
                                   (click)="toggleDayOff()" mat-button>
                                    <mat-icon *ngIf="hidden">keyboard_arrow_down</mat-icon>
                                    <mat-icon *ngIf="!hidden">keyboard_arrow_up</mat-icon>
                                    <span *ngIf="hidden">Voir toutes les demandes</span>
                                    <span *ngIf="!hidden">Voir les 3 dérniers seulement</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" mat-raised-button (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        mat-raised-button>
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
